.home-container {
  background-color: #c1c1c1;
  padding: 20px;
  border-radius: 8px;
  margin: auto;
  width: 60%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Arial', sans-serif;
}

.home-logo {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.home-menuImgOpciones {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 10fr));
  gap: 10px;
  align-items: center;
}

.home-menuImgOpciones img {
  margin-left: 30px;
  margin-top: 30px;
  width: 75%;
  height: auto;
}

.home-menuNameOpciones {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.hmno {
  color: #000000;
  flex: 1;
  text-align: center;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease;
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  width: 30%;
  max-width: 400px;
  height: 20%;
  max-height: 200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
  font-family: 'Pacifico', cursive;
}

.home-link {
  background-color: #921b00;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 20px;
}

.close-btn {
  position: absolute;
  top: -10px;
  right: 5px;
  cursor: pointer;
  font-size: 24px;
  color: #999999;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: #333333;
}

.modal-content a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;
}



.modal-content p {
  margin-bottom: 15px;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
}

.modal-content hr {
  border: none;
  border-top: 1px solid #dddddd;
  margin: 20px auto;
  width: 80%;
}

.home-menuImgOpciones p {
  font-weight: bold; /* Cambiado de font: 200; a font-weight: bold; */
  font-size: x-large;
  color: #0c0c0c;
  text-align: center; /* Centrar el texto */
}


/* Ajuste para cambiar el color de fondo del enlace y el color de texto al pasar el cursor */
.home-menuImgOpciones a:hover,
.home-link2:hover {
  background-color: #454545;
  color: #0c0c0c;
}
