.libro-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    width: 90%;
    max-width: 2500px;
    margin-top: 20px; /* Agrega margen superior para separarlo del título */
    max-height: 800px; /* Altura máxima para el contenedor */
    overflow-y: auto; /* Agrega desplazamiento vertical */
    overflow-x: auto; /* Oculta el desplazamiento horizontal */
}
/* Estilos para los botones de eliminar y editar al pasar el cursor */
.libro-container button:hover {
    background-color: #0aec2c;
}


/* Estilo para el título */
.libro-container h1 {
    text-align: center;
    color: #1f169f;
    letter-spacing: 2px;
    margin-bottom: 1px; /* Espacio debajo del título */
}

/* Estilo para la tabla */
.libro-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    overflow-y: auto; /* Agrega desplazamiento vertical */
    max-height: 300px; /* Altura máxima para la tabla */
}

/* Estilo para las celdas de la tabla */
.libro-container th,
.libro-container td {
    border: 1px solid #000000;
    padding: 10px;
    background-color: #ffffff21;
    text-align: left;

}
.libro-container  th {
    background-color: #666; /* Color de fondo verde para la cabecera */
    color: white; /* Color de texto blanco para la cabecera */
  }
/* Estilo para el botón de salir */
.salir-libro {
    background-color: #DE1010;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

/* Estilos para los botones de eliminar y editar */
.libro-container table button {
    background-color: #171e26;
    color: rgb(255, 240, 240);
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    margin-right: 5px; /* Espacio entre los botones */
    margin-bottom: 5px; /* Agrega un margen inferior */
}




/* Estilo para el modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    z-index: 1000;
}

/* Estilo para el formulario dentro del modal */
.formularioLibro {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Divide en dos columnas */
    grid-template-rows: repeat(5, 1fr); /* Divide en cinco filas */
    gap: 20px; /* Espacio entre columnas */
    width: 30%; /* Ancho del formulario */
    max-width: 1220px; /* Ancho máximo del formulario */
    background-color: #fffefe; /* Color de fondo */
    border-radius: 16px; /* Borde redondeado */
    padding: 20px;
}

/* Estilo para el título del formulario dentro del modal */
.formularioLibro .title p {
    text-align: center;
    color: #1A2B96;
    font-size: 50px;
    margin-bottom: 0px;
}

/* Estilo para los campos del formulario */
.formulario_libro-input {
    margin-bottom: 20px;
}

/* Estilo para las etiquetas del formulario */
.formulario__label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilo para los inputs del formulario */
.formulario__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


/* Estilo para el botón que cambia entre formularios */
.change-form-btn {
    background-color: #ffc107;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

/* Estilo para el botón Cancelar del formulario */
.formulario__btn1 {
    background-color: #ffc107;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 8px 12px; /* Ajusta el tamaño del padding para reducir el tamaño del botón */
    cursor: pointer;
    margin-top: 20px;
}

