/* Estilos para el contenedor principal */
.cuadrosupermo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* Permitir desplazamiento vertical */
  height: calc(100vh - 40px); /* Altura del contenedor */
}

/* Estilos para el contenedor de usuarios */
.usuario-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  margin: auto; /* Centra horizontalmente */
  width: 100%;
  max-width: 1000px;
  justify-items: center;
  align-items: center;
  position: relative;
}

/* Estilos para la tabla */
.usuario-container table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #a56464;
}

.usuario-container th,
.usuario-container td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.usuario-container th {
  background-color: #666;
  color: white;
  padding: 12px 8px;
  text-align: center;
  font-size: 16px;
}

.usuario-container td {
  padding: 10px 8px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Estilos para los botones */
.usuario-container button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.usuario-container button:first-of-type {
  margin-bottom: 20px;
  background-color: #4caf50;
  color: white;
}

.usuario-container button:first-of-type:hover {
  background-color: #367c39;
}

/* Estilos para el modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Estilos para el formulario dentro del modal */
.formularioUsuario {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.title {
  text-align: center;
  color: #000000;
  font-size: 24px;
  margin-bottom: 20px;
}

.formulario_usuario {
  margin-bottom: 20px;
}

.formulario__label {
  display: block;
  margin-bottom: 5px;
  color: #000000;
}

.formulario__input,
.formulario_usuario select {
  width: 80%;
  max-width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.formulario__input::placeholder {
  color: #999;
}

.botones {
  display: flex;
  justify-content: flex-end;
}

.botones button {
  margin-left: 10px;
}

.formulario__btn1 {
  background-color: #de1010;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; /* Ajusta el tamaño del padding según tus necesidades */
  cursor: pointer;
  margin-top: 20px;
}

/* Estilo para el botón Guardar Cambios o Agregar Usuario del formulario */
.formulario__btn2 {
  background-color: #3df33d;
  color: rgb(17, 16, 16);
  border: none;
  border-radius: 5px;
  padding: 40px 10px; /* Ajusta el tamaño del padding según tus necesidades */
  cursor: pointer;
  margin-top: 20px;
}

.botones button:hover {
  box-shadow: 3px 0px 30px rgba(23, 22, 22, 0.4);
}

.botones button:focus {
  box-shadow: 0 0 0 3px rgba(253, 253, 253, 0.5);
}

/* Estilos para la tabla dentro del contenedor usuario-container */
.usuario-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ccc;
}

.usuario-container tr:hover {
  background-color: #fcd59f;
}

.usuario-container tr:nth-child(even),
.usuario-container tr:nth-child(odd) {
  background-color: #f9f9f9;
}
